# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe


# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Project files
*.ncb
*.user

# Specifics
/samples/mineplant/Debug
/samples/mineplant/Release
/samples/mineplant/mineplant
/samples/minimal/Debug
/samples/minimal/Release
/samples/minimal/minimal
/samples/boost_only/Debug
/samples/boost_only/Release
/samples/boost_only/boost_only
/samples/cpp0x_only/Debug
/samples/cpp0x_only/Release
/samples/cpp0x_only/cpp0x_only
/samples/roulette/Debug
/samples/roulette/Release
/samples/roulette/roulette
/samples/shapes/Debug
/samples/shapes/Release
/samples/shapes/shapes
/test/Debug
/test/Release
/test/test_suite
Debug
Release
/doc/html

# Others
*.idb
*.log
*.map
*.exp
*.mk
*.pdb
*.pyc
*.scons*
*.suo
*.sdf
*.opensdf
*.xcodeproj
#*#
*~
